* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.wrap {
  overflow: hidden;
}

.container {
  width: 300vw;
  transition: transform 0.5s;
}
.inner {
  width: 100vw;
  float: left;
}
.inner img {
  width: 100%;
}